/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- Purple 100: hsl(254, 88%, 90%)
- Purple 500: hsl(256, 67%, 59%)

- Yellow 100: hsl(31, 66%, 93%)
- Yellow 500: hsl(39, 100%, 71%)

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 500

*/
* {
    font-family: "DM Sans", sans-serif;
    border-radius: 16px;
   

}
body {
    background-color: rgb(240, 240, 240);
}
h2 {
    font-size: 2.8rem;
    font-weight: 500;
}
h3 {
    font-size: 28px;
    font-weight: 400;
}
.italics {
    font-style: italic;
}
.yellow {
    color: hsl(39, 100%, 71%);
}
.grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin: 10px 0px 10px 0px;

    
}
.grid-one {
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    padding: 0px 40px 0px 40px;
    
    text-align: center;

}
.grid-two {
    padding: 0px 10px 0px 10px;
    background-color: #fff;
}
.grid-three {
    background-color: hsl(39, 100%, 71%);
}
.grid-four {
    background-color: hsl(254, 88%, 90%);
}
.grid-five {
    background-color: hsl(256, 67%, 59%);
}
.grid-six {
    background-color: #fff;
}
.grid-seven {
    background-color: hsl(31, 66%, 93%);
}
.grid-eight {
    background-color: hsl(39, 100%, 71%);
}